<h2 id="spieces">{{title}}</h2>
<div *ngIf="!selectedCategory" aria-disabled="true" else aria-disabled="false">
<div fxLayout="row wrap">
  <div fxFlex="25%">
    <mat-card id="humanGenes" (click)="selectCategory('human')">Human</mat-card>
    <mat-card id="drosiGenes" (click)="selectCategory('drosi')">Drosophila melanogaster</mat-card>
    <mat-card id="yeastGenes" (click)="selectCategory('yeast')">Saccharomyces cerevisiae</mat-card>
  </div>
</div>
</div>
<div *ngIf="selectedCategory" aria-disabled="true" else aria-disabled="false">
  <app-list-of-genes [selectedCategory]="selectedCategory"></app-list-of-genes>
</div>
