#spieces {
    color: #536878;
    padding: 20px;
    font-size: 30px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

mat-card {
  position: relative;
  left: 50%;
  width: 200px;
  height: 100px;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  padding: 10px, 5px;
  text-align: center;
  margin-left: -120px;
  margin-top: 30px;
  text-shadow: 2px 2px black;
  display: flex;
}


mat-card:hover {
  box-shadow: 5px 8px #536878;
  cursor: pointer;
}
#humanGenes {
  background-image: url(../../../assets/img/img_humanGenes.jpg);

}
#drosiGenes {
  background-image: url(../../../assets/img/img_drosiGenes.jpg);
}
#yeastGenes {
  background-image: url(../../../assets/img/img_yeastGenes.jpg);
}

.mat-button{
  background-color: transparent;
  border: none;
}
.mat-button:hover{
cursor: pointer;
}


